.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  
  .logo__text--white {
    color: var(--primary-bg-color);
  }
  
  .footer__address {
    margin-right: 70px;
  }
  
  .address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  
    width: 207px;
  
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  
    color: var(--primary-bg-color);
  }
  
  .address__text {
    margin-top: 0;
    margin-bottom: 12px;
  }
  
  .address__link {
    margin-bottom: 12px;
  
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration: none;
  
    color: var(--address-text-color);
  
    transition: color 250ms var(--hover-focus-time);
  }
  
  .address__link:hover {
    color: var(--accent-color);
  }
  
  .address__link:focus {
    color: var(--accent-color);
  }
  
  .address__link:last-child {
    margin-bottom: 0;
  }
  
  .socials__title {
    margin-bottom: 20px;
  
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--primary-bg-color);
  }
  
  .socials__item--black {
    border-radius: 50%;
    background-color: var(--footer-icon-bg-color);
  }
  
  .socials__icon--white {
    fill: var(--primary-bg-color);
  }