html {
    scroll-behavior: smooth;
  }
  
body {
    @include fonts;
  
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  
  
  