html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  
  
  